<section class="section">
  <div class="card box has-shadow-8">
    <div class="card-content">
      <div class="content has-text-centered">
        <p class="title is-4 has-text-success">Inicio de Sesión</p>
      </div>

      <button 
        data-controller="notification" 
        data-action="notification#requestPermission"
      >
        Request notification permission
      </button>

      <%= form_with(url: sessions_path, method: :post) do |f| %>
        <div class="field">
          <%= f.label :email, 'Email', class: 'label' %>
          <div class="control is-expanded">
            <%= f.text_field :email, class: 'input is-success', required: true %>
          </div>
        </div>

        <div class="field">
          <%= f.label :password, 'Contraseña', class: 'label' %>
          <div class="control is-expanded">
            <%= f.password_field :password, class: 'input is-success', required: true %>
          </div>
        </div>

        <div class="columns is-centered is-mobile">
          <div class="column is-one-third">
            <div class="field is-grouped">
              <div class="control is-expanded">
                <%= f.submit 'Iniciar Sesión', class: 'button is-success is-fullwidth' %>
              </div>
            </div>
          </div>
        </div>

        <div class="has-text-centered">
          ¿No tienes una cuenta? <%= link_to 'Regístrate aquí', new_user_path, class: 'button is-primary' %>
        </div>
      <% end %>

      <% if flash[:alert] %>
        <div class="notification is-danger is-light has-text-centered" role="alert">
          <%= flash[:alert] %>
        </div>
      <% end %>
    </div>
  </div>
</section>

