<section class="section">
  <div class="container">
    <h1 class="title">Registro de Usuario</h1>
    <%= form_with(model: @user, url: users_path, method: :post, local: true) do |form| %>
      <div class="field">
        <%= form.label :name, class: 'label' %>
        <div class="control">
          <%= form.text_field :name, class: 'input', required: true %>
        </div>
      </div>

      <div class="field">
        <%= form.label :last_name, class: 'label' %>
        <div class="control">
          <%= form.text_field :last_name, class: 'input', required: true %>
        </div>
      </div>

      <div class="field">
        <%= form.label :email, class: 'label' %>
        <div class="control">
          <%= form.email_field :email, class: 'input', required: true %>
        </div>
      </div>

      <div class="field">
        <%= form.label :password, class: 'label' %>
        <div class="control">
          <%= form.password_field :password, class: 'input', required: true %>
        </div>
      </div>

      <div class="field">
        <%= form.label :years, class: 'label' %>
        <div class="control">
          <%= form.number_field :years, class: 'input', required: true %>
        </div>
      </div>

      <div class="field is-grouped">
        <div class="control">
          <%= form.submit 'Registrar', class: 'button is-primary' %>
        </div>
      </div>
    <% end %>
  </div>
</section>
