<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.10.2/css/bulma.min.css">
  <title>Perfil</title>
  <style>
    /* Agrega estilos personalizados según sea necesario */
    body {
      background-color: white;
      display: flex;
      flex-direction: column;
      min-height: 100vh; /* Asegura que el cuerpo ocupe al menos el 100% del alto de la ventana */
    }
    .header-container {
      flex: 0.1; /* Ajusta según sea necesario */
      align-items: center;
      justify-content: center;
      background-color: #d7eec1;
      padding: 5px;
      text-align: center; /* Añadido para centrar la imagen */
    }
    .profile-text {
      font-size: 24px;
      font-weight: bold;
      margin-top: 5px; /* Ajusta según sea necesario */
    }
    .separator {
      height: 2px;
      background-color: gray;
    }
    .content-container {
      flex: 1; /* Cambiado a 1 para ocupar el espacio restante */
      background-color: white;
    }
    .custom-section-container {
      display: flex; /* Añadido para que las secciones sean flexibles */
      flex-direction: row;
      align-items: center;
      border: 3px solid green;
      border-radius: 10px;
      background-color: white;
      margin: 10px;
      padding: 10px;
      margin-top: 10px;
    }
    .bordered-section {
      border: 2px solid #32a260;
      border-radius: 5px;
      padding: 5px;
      margin: 5px;
    }
    .first-custom-section {
      margin-top: 20px;
    }
    .left-section {
      flex: 1;
    }
    .right-section {
      flex: 2;
    }
    .image-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .custom-image {
      max-width: 75px; /* Ajusta según sea necesario */
      max-height: 75px; /* Ajusta según sea necesario */
    }
    .section-text {
      font-weight: bold;
      font-size: 16px;
      text-align: center;
    }
    .text2 {}
    .tab-bar {
      display: flex;
      justify-content: center;
      background-color: #146c51;
      <%# margin-top: 21.5rem; %>
      /*height: 70px;*/
      align-items: flex-end; /* Alinea los elementos al final */
    }
    .tab-bar-buttons {
      display: flex;
      justify-content: space-around;
      width: 100%;
    }
    .tab-bar-button {
      flex: 1;
      padding: 2px;
      align-items: center;
      justify-content: flex-start;
      margin: 0px;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 15px;
    }
    .tab-bar-text {
      color: white;
      font-size: 13px;
      margin-top: 5px; /* Ajusta según sea necesario */
    }
    .tab-bar-imagebar {
      width: 35px; /* Ajusta según sea necesario */
      height: 35px; /* Ajusta según sea necesario */
    }
    /* Ajusta el estilo de la imagen según sea necesario */
    .logo-image {
      max-width: 100%; /* Ajusta según sea necesario */
      max-height: 100%; /* Ajusta la altura automáticamente según el ancho */
      margin-top: 5px; /* Ajusta según sea necesario */
    }
  </style>
</head>
<body>

<div class="container">
  <div class="header-container">
    <!-- Añade la clase logo-image -->
    <img src="<%= asset_path('LogoBG_p.png') %>" alt="Logo APP" class="logo-image">
  </div>
  <div class="separator"></div>
  <div class="content-container">
    <div class="custom-section-container first-custom-section">
      <div class="left-section">
        <div class="image-container">
          <!-- Cambia la ruta de la imagen según sea necesario -->
          <img src="<%= asset_path('corredor.png') %>" alt="Logo Corredor" class="custom-image">
        </div>
      </div>
      <div class="right-section">
        <div class="bordered-section">
          <p class="section-text">Running</p>
        </div>
        <div class="bordered-section">
          <p class="text2">El running, footing, correr o jogging, son algunos de los términos más usados...</p>
        </div>
      </div>
    </div>
    <!-- Repite la estructura para otros elementos según sea necesario -->
    <div class="content-container">
    <div class="custom-section-container first-custom-section">
      <div class="left-section">
        <div class="image-container">
          <!-- Cambia la ruta de la imagen según sea necesario -->
          <img src="<%= asset_path('ciclismo.png') %>" alt="Logo ciclismo" class="custom-image">
        </div>
      </div>
      <div class="right-section">
        <div class="bordered-section">
          <p class="section-text">Bicicleta</p>
        </div>
        <div class="bordered-section">
          <p class="text2">El Ciclismo sirve para la buena circulacion</p>
        </div>
      </div>
    </div>
    <!-- Repite la estructura para otros elementos según sea necesario -->
    <div class="content-container">
    <div class="custom-section-container first-custom-section">
      <div class="left-section">
        <div class="image-container">
          <!-- Cambia la ruta de la imagen según sea necesario -->
          <img src="<%= asset_path('ciclismo.png') %>" alt="Logo ciclismo" class="custom-image">
        </div>
      </div>
      <div class="right-section">
        <div class="bordered-section">
          <p class="section-text">Bicicleta</p>
        </div>
        <div class="bordered-section">
          <p class="text2">El Ciclismo sirve para la buena circulacion</p>
        </div>
      </div>
    </div>
    <!-- Repite la estructura para otros elementos según sea necesario -->
    <div class="content-container">
    <div class="custom-section-container first-custom-section">
      <div class="left-section">
        <div class="image-container">
          <!-- Cambia la ruta de la imagen según sea necesario -->
          <img src="<%= asset_path('ciclismo.png') %>" alt="Logo ciclismo" class="custom-image">
        </div>
      </div>
      <div class="right-section">
        <div class="bordered-section">
          <p class="section-text">Bicicleta</p>
        </div>
        <div class="bordered-section">
          <p class="text2">El Ciclismo sirve para la buena circulacion</p>
        </div>
      </div>
    </div>
    <!-- Repite la estructura para otros elementos según sea necesario -->
  </div>
  
  </div>
  
</div>

</div> <!-- Cierre del contenedor principal "container" -->

<div class="tab-bar">
  <div class="tab-bar-buttons">
    <div class="tab-bar-button">
      <!-- Cambia la ruta de la imagen según sea necesario -->
      <img src="<%= asset_path('lista.png') %>" alt="Logo ejercicios" class="tab-bar-imagebar">
      <p class="tab-bar-text">Ejercicios</p>
    </div>
    <div class="tab-bar-button">
      <!-- Cambia la ruta de la imagen según sea necesario -->
      <img src="<%= asset_path('user.png') %>" alt="Logo perfil" class="tab-bar-imagebar">
      <p class="tab-bar-text">Perfil</p>
    </div>
    <div class="tab-bar-button">
      <!-- Cambia la ruta de la imagen según sea necesario -->
      <img src="<%= asset_path('ruta.png') %>" alt="Logo ruta" class="tab-bar-imagebar">
      <p class="tab-bar-text">Ruta</p>
    </div>
    <div class="tab-bar-button">
      <!-- Cambia la ruta de la imagen según sea necesario -->
      <img src="<%= asset_path('comunidades.png') %>" alt="Logo comunidades" class="tab-bar-imagebar">
      <p class="tab-bar-text">Comunidades</p>
    </div>
  </div>
</div>

</body>
</html>
