<div class="container">
  <div class="hero-body">
    <div class="container">
      <div class="content has-text-centered">
        <p class="has-text-success">Actividades</p>
      </div>
      <div class="content has-text-centered">
        <%= render "upload_form" %>
      </div>
      <%= will_paginate @activities %>
      <table class="table is-fullwidth">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Beneficios</th>
            <th>Imagen</th>
          </tr>
        </thead>
        <tbody>
          <% @activities.each do |activity| %>
            <tr>
              <td><%= activity.name %></td>
              <td><%= truncate(activity.description, length: 15) %></td>
              <td><%= truncate(activity.benefits, length: 15) %></td>
              <td>
                <div class="content has-text-centered">
                  <%= form_with(url: upload_image_activity_path(activity.id), method: :post, local: true, multipart: true) do |f| %>
                    <%= f.hidden_field :activity_id, value: activity.id %>
                    <%= f.file_field :image %>
                    <%= f.submit "Subir Imagen", class: "button is-primary is-small" %>
                  <% end %>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
