<section class="section conteiner-margin">

  <div class="card has-shadow-8 mt-2" style="">
    <div class="card-content  has-text-centered">
      <strong><%= @activity.name %></strong>
    </div>
  </div>

  <div class="is-flex is-justify-content-center mt-3">
    <button class="button is-success is-rounded" onclick="openModal()">
      Realice este ejercicio!!
    </button>
  </div>

  <div class="card has-shadow-8">
    <div class="card-content">
      <div class="is-16by9 has-text-centered">
        <% if @activity.image.attached? %>
          <%= image_tag(@activity.image) %>
        <% else %>
          <!-- Manejo para cuando no hay imagen asociada -->
          <p>No hay imagen disponible</p>
        <% end %>
      </div>
    </div>
  </div>
  <div class="card has-shadow-8 mt-2" style="">
    <div class="content has-text-centered">
      <p class="has-text-success">Descripcion</p>
    </div>
    <div class="separator"></div>
    <div class="has-text-centered margin-content-card">
      <%= @activity.description %>
    </div>
  </div>
  <div class="card has-shadow-8 mt-2" style="">
    <div class="content has-text-centered">
      <p class="has-text-success">Beneficios</p>
    </div>
    <div class="separator"></div>
    <div class="has-text-centered margin-content-card">
      <%= @activity.benefits %>
    </div>
  </div>
</section>

<%= render "raiting_pop_up" %>




<script>
  function openModal() {
    document.getElementById('myModal').classList.add('is-active');
  }

  function closeModal() {
    document.getElementById('myModal').classList.remove('is-active');
  }

  document.addEventListener("DOMContentLoaded", function() {
    const stars = document.querySelectorAll(".star");

    stars.forEach((star) => {
      star.addEventListener("click", function() {
        const rating = star.getAttribute("data-rating");
        updateStars(rating);
      });
    });

    // Update star
    function updateStars(rating) {
      stars.forEach((star, index) => {
        star.classList.remove("active");
        if (index < rating) {
          star.classList.add("active");
        }
      });
      document.getElementById("stars-input").value = rating;
    }
  });
</script>