<div class="container conteiner-margin">
  <div class="is-flex is-justify-content-center mt-3">
    <%= link_to new_user_activity_path, class: "button is-success is-rounded" do %>
      Registra tus Ejercicios
    <% end %>
    <%= link_to user_activities_path, class: "button is-success is-rounded ml-2" do %>
      Historial
    <% end %>
  </div>
  <div class="content has-text-centered mt-3">
    <p class=" has-text-success">Selecciona una actividad</p>
  </div>
  <% @recommendation.each do |recommendation| %>
    <%= link_to activity_path(recommendation.id), class: "has-text-black" do %>
      <div class="content-container">
        <div class="custom-section-container first-custom-section">
          <div class="left-section">
            <div class="image-container">
              <% if recommendation.image.attached? %>
                <%= image_tag(recommendation.image) %>
              <% else %>
                <!-- Manejo para cuando no hay imagen asociada -->
                <p>No hay imagen disponible</p>
              <% end %>
            </div>
          </div>
          <div class="right-section">
            <div class="">
              <strong class="section-text" style="display: block; text-align: center;">
                <%= recommendation.name %>
              </strong>
            </div>
            <div class="">
              <p class="section-text"><%= recommendation.description %>s</p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
