<!DOCTYPE html>
<html>
  <head>
    <title>SpoHealApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="manifest" href="/manifest.json">

    <% flash.each do |key, value| %>
      <% type =
        case key.to_s
        when 'notice' then 'is-success'
        when 'error' then 'is-danger'
        else 'is-info' # O cualquier clase predeterminada para otros tipos de mensajes flash
        end
      %>
      <div class="notification <%= type %> is-light has-text-centered" role="alert">
        <button class="delete" onclick="this.parentNode.style.display='none'"></button>
        <%= value %>
      </div>
    <% end %>

  </head>

  <body>
    <% if current_user %>
      <nav class="navbar is-info" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <%= link_to root_path, class: 'navbar-item' do %>
            SpoHealApp
          <% end %>

          <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarMenu">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

        <div id="navbarMenu" class="navbar-menu">
          <div class="navbar-start">
            <!-- Agrega tus enlaces de navegación aquí -->
            <%= link_to 'Inicio', root_path, class: 'navbar-item' %>
            <%= link_to 'Comunidades', root_path, class: 'navbar-item' %>
            <%= link_to 'Ejercicios', root_path, class: 'navbar-item' %>
            <%= link_to 'Perfil', root_path, class: 'navbar-item' %>
            <!-- Agrega más enlaces según sea necesario -->
          </div>

          <div class="navbar-end">
            <%= form_tag session_path(id: current_user.id), method: :delete do %>
              <%= submit_tag 'Cerrar Sesión', class: 'button is-danger', data: { confirm: '¿Estás seguro?' } %>
            <% end %>
          </div>
        </div>
      </nav>
    <% end %>
    <%= yield %>
  </body>
</html>

<script>
  if ('serviceWorker' in navigator) {
    navigator.serviceWorker.register('/service-worker.js')
      .then(function(registration) {
        console.log('Service Worker registrado con éxito:', registration);
      })
      .catch(function(error) {
        console.error('Error al registrar el Service Worker:', error);
      });
  }

  document.addEventListener('DOMContentLoaded', () => {
    // Agrega el script para activar el botón de hamburguesa
    const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

    if ($navbarBurgers.length > 0) {
      $navbarBurgers.forEach((el) => {
        el.addEventListener('click', () => {
          const target = el.dataset.target;
          const $target = document.getElementById(target);

          el.classList.toggle('is-active');
          $target.classList.toggle('is-active');
        });
      });
    }
  });
</script>
